@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

* {
    text-decoration: none;
    padding: 0%;
    margin: 0%;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    opacity: 0.5;
}

nav {
    justify-content: space-between;
    display: flex;
}

nav ul li {
    box-sizing: border-box;
    display: inline-block;
    justify-content: space-between;
    height: 15vh;
    font-size: 50px;
    padding-right: 20px;
}

nav ul li a:hover {
    background-color: cornsilk;
    color: black;
    text-decoration: underline;
}



